* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
@-ms-viewport {
  width: device-width;
}

body {
  background: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
/*************************** ALL *************************/
.main {
  width: 20vw;
  height: 41vw;
  border-radius: 30px;
}

section.top {
  position: relative;
  height: 41%;
  border-radius: 30px;
}
section.top i {
  font-size: 0.8em;
}
.top .switch-box {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 20%;
  height: 10%;
  border-radius: 20px;
}
.top .sun-moon {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 20%;
  height: 10%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.top .sun-moon svg {
  width: 15px;
  fill: #373737;
}

.top .switcher {
  position: absolute;
  top: 0;
  width: 60%;
  height: 100%;
  border-radius: 20px;
  z-index: 2;
}
.top .allinput,
.top .result {
  position: absolute;
  left: 10%;
  min-width: 75%;
  font-size: 1.5em;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.top .allinput {
  justify-content: flex-end;
  bottom: 21%;
  opacity: 0.6;
  flex-wrap: wrap;
  max-height: 55%;
  text-wrap: wrap;
  max-width: 80%;
  overflow-y: hidden;
}
.top .result {
  bottom: 10%;
  justify-content: space-between;
}
section.bottom {
  position: relative;
  height: 59%;

  background-size: cover;
  border-radius: 30px;
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10%;
}

.item {
  position: relative;
  height: 3.3vw;
  width: 3.3vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  padding: 1%;
  z-index: 5;
}
.item .button-action {
  position: absolute;
  inset: 0;
  z-index: 10;
}

.bottom > div:nth-child(1) {
  font-size: 0.9em;
}

.bottom .landscape {
  position: absolute;
  top: 8.3%;
  left: 10%;
  height: 13.5%;
  width: 58.5%;
  border-radius: 30px;
}
.bottom .portrait {
  position: absolute;
  top: 8.3%;
  left: 73.5%;
  height: 63.6%;
  width: 16.5%;
  border-radius: 30px;
}
.bottom .actions svg {
  width: 1.3vw;
  z-index: 3;
}

.bottom .bottom-line {
  position: absolute;
  bottom: 4%;
  left: 30%;
  height: 1.2%;
  width: 40%;
  background: #6396c5;
  border-radius: 20px;
}
/********************** LIGHT-THEME **************/
.light-theme {
  color: #373737;
  background: linear-gradient(
    140deg,
    #fefefe 0%,
    #f9f9f9 13%,
    #f3f3f3 33%,
    #e5e5e5 100%
  );
}
.light-theme .switch-box {
  background: #a9dcfd;
}
.light-theme .switch-box .switcher {
  background: #d8eeff;
  left: -5%;
}
.light-theme .top .sun-moon svg {
  fill: #373737;
}
.light-theme .top .sun-moon svg:nth-child(1) {
  opacity: 1;
}
.light-theme .top .sun-moon svg:nth-child(2) {
  opacity: 0.4;
}
.light-theme section.bottom {
  fill: #373737;
  background: url(./../img/ellipse_light.png);
}
.light-theme section.bottom::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.2);
  z-index: 2;
  border-radius: 30px;
}
.light-theme .bottom .number {
  background: rgba(255, 255, 255, 0.3);
}
.light-theme .bottom .landscape {
  background: rgba(255, 255, 255, 0.3);
}
.light-theme .bottom .portrait {
  background: rgba(255, 255, 255, 0.3);
}
.light-theme #equal {
  background: rgba(255, 255, 255, 0.3);
}
.light-theme .bottom .item:active,
#equal:active {
  background: rgba(0, 0, 0, 0.086);
}
.light-theme .bottom .bottom-line {
  background: #6396c5;
}
/******************************** DARK-THEME *****************/
.dark-theme {
  color: #fbfbfb;
  background: linear-gradient(140deg, #373737 0%, #252628 23%, #000309 100%);
}
.dark-theme .switch-box {
  background: #1b6a9c;
}
.dark-theme .switch-box .switcher {
  background: #003661;
  left: 40%;
}
.dark-theme .top .sun-moon svg {
  fill: #fff;
}
.dark-theme .top .sun-moon svg:nth-child(1) {
  opacity: 0.5;
}
.dark-theme .top .sun-moon svg:nth-child(2) {
  opacity: 0.8;
}
.dark-theme section.bottom {
  fill: #fbfbfb;
  background: url(./../img/ellipse_dark.png);
}
.dark-theme section.bottom::after {
  background: rgba(0, 34, 53, 0.4);
}
.dark-theme .bottom .number {
  background: rgba(5, 5, 5, 0.3);
}
.dark-theme .bottom .landscape {
  background: rgba(5, 5, 5, 0.3);
}
.dark-theme .bottom .portrait {
  background: rgba(5, 5, 5, 0.3);
}
.dark-theme #equal {
  background: rgba(5, 5, 5, 0.3);
}
.dark-theme .bottom .item:active,
#equal:active {
  background: rgba(247, 247, 247, 0.086);
}
.dark-theme .bottom .bottom-line {
  background: #3d76ab;
}

/****************** ADAPTIVE ********************/
/****************** LAPTOP **********************/
@media screen and (orientation: landscape) and (min-width: 1300px) {
  .main {
    width: 20vw;
    height: 41vw;
  }
  .top .sun-moon svg {
    width: 1vw;
  }
  .top .result,
  .top .allinput {
    font-size: 1.5em;
  }
  .item {
    height: 3.3vw;
    width: 3.3vw;
    font-size: 1em;
  }
  .bottom .actions svg {
    width: 1.3vw;
  }
}
/* ********************* IPAD **********************************/
@media screen and (orientation: landscape) and (min-width: 1000px) {
  .main {
    width: 30vw;
    height: 62vw;
  }
  .top .sun-moon svg {
    width: 1.5vw;
  }
  .top .result,
  .top .allinput {
    font-size: 2em;
  }
  .item {
    height: 5vw;
    width: 5vw;
    font-size: 1.5em;
  }
  .bottom .actions svg {
    width: 2vw;
  }
  .bottom > div:first-child {
    font-size: 1.3em;
  }
}
@media screen and (orientation: portrait) and (min-width: 500px) {
  .main {
    width: 30vh;
    height: 62vh;
  }
  .top .sun-moon svg {
    width: 1.5vh;
  }
  .top .result,
  .top .allinput {
    font-size: 2em;
  }
  .item {
    height: 5vh;
    width: 5vh;
    font-size: 1.5em;
  }
  .bottom .actions svg {
    width: 2vh;
  }
  .bottom > div:first-child {
    font-size: 1.3em;
  }
}

/************************ IPHONE *************************/
@media screen and (orientation: portrait) and (max-width: 500px) {
  body {
    background: #000000ec;
  }

  .main {
    width: 43.5vh;
    height: 90vh;
  }
  .top .sun-moon svg {
    width: 2.2vh;
  }
  .top .result,
  .top .allinput {
    font-size: 2em;
  }
  .top .allinput {
    bottom: 25%;
  }
  .item {
    height: 7.2vh;
    width: 7.2vh;
    font-size: 1.4em;
  }
  .bottom .actions svg {
    width: 4.1vh;
  }
  .bottom > div:nth-child(1) {
    font-size: 1.5em;
  }
  .bottom > div:first-child {
    font-size: 1.1em;
  }
}
@media screen and (orientation: landscape) and (max-height: 600px) {
  body {
    background: #000;
  }
  main {
    display: none;
  }
}

/*************************** MICRO)) ********************/
@media screen and (orientation: portrait) and (max-width: 300px) {
  body {
    background: #000000ec;
  }

  .main {
    width: 38vh;
    height: 80vh;
  }
  .top .sun-moon svg {
    width: 2.2vh;
  }
  .top .result,
  .top .allinput {
    font-size: 1.8em;
  }
  .item {
    height: 6.4vh;
    width: 6.4vh;
    font-size: 1.2em;
  }
  .bottom .actions svg {
    width: 3.3vh;
  }
  .bottom > div:nth-child(1) {
    font-size: 1em;
  }
}
